@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: rgb(253, 208, 110);
    --secondary-color: rgb(230, 168, 36);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    transition-duration: .25s;
}

body {
    overflow-x: hidden;
    background-color: #eee;
}

.container {
    display: flex;
    width: 1200px;
    margin: auto;
}

header {
    position: fixed;
    width: 100vw;
    background-color: var(--primary-color);
    padding: 25px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo .logo-title a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
}

header .logo .logo-title a:hover {
    color: var(--secondary-color);
}

header .btn i {
    color: #000;
    font-size: 25px;
    cursor: pointer;
}

header .btn i:hover {
    color: var(--secondary-color);
}

#products {
    padding-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

#products .product {
    padding: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 260px;
    height: 260px;
    object-fit: cover;
}

.product h1 {
    font-size: 25px;
    margin: 10px 0 ;
    text-align: center;
}

.product p {
    font-size: 15px;
    margin: 10px 0 ;
    text-align: center;
}

.product button {
    border: 0;
    background-color: var(--primary-color);
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
}

.product button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.cart-container {
    position: absolute;
    width: 600px;
    right: -600px;
    background-color: var(--secondary-color);
    min-height: 100vh;
    padding: 50px;
    transition: .5s all ease-in-out;
}

.cart-container.show {
    right: 0;
}

.cart-container #title {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.cart-container .close i {
    font-size: 25px;
    cursor: pointer;
}

.cart-container .close i:hover {
    color: var(--primary-color);
}

.cart-container #cart {
    padding: 50px 0;
}


.cart-container #cart .product {
    width: 100%;
    background-color: #fff;
    margin: 50px 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-container #buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.cart-container button {
    border: 0;
    padding: 10px 20px;
    font-size: 15px;
    background-color: var(--primary-color);
    color: #000;
    cursor: pointer;
}

.cart-container button:hover {
    color: var(--secondary-color);
}

